/* Set the secondary color for Plyr */
:root {
    --plyr-color-secondary: var(--secondary-color) !important;
    --plyr-color-main: var(--secondary-color) !important; /* Change to your desired color */
}

/* Optionally, you can also adjust other elements using variables */
.plyr__control {
    font-family: 'AHGR'; /* Change to your desired font */
}


#player {
    width: 100vw;
    height: 100vh;
    z-index: 5;
}

#next-episode-popup {
    position: fixed;
    opacity: 0;
    transform: translateY(40px);
    z-index: -100;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    bottom: 5vw;
    left: 2.5vw;
    transition: opacity .5s, transform .5s;
}

#next-episode-popup.active {
    opacity: 1;
    transform: translateY(0px);
    z-index: 2147483647;
}

#next-episode-popup .left,
#next-episode-popup .right {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 47.5%;
    gap: 10px
}

#next-episode-popup .left {
    align-items: center;
    justify-content: baseline;
}

#next-episode-popup .right .title {
    font-family: BuzzBlack;
    font-size: 20px;
    text-transform: uppercase;
}

#next-episode-popup .left .img {
    aspect-ratio: 1.83333333333;
    width: 90%;
    height: auto;
    border-radius: 10px;
}

#next-episode-popup .bottom {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#next-episode-popup button {
    cursor: pointer;
    padding: 8px;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 15px;
}

#next-episode-popup .countdown{
    margin-top: 10px
}

/* When in fullscreen */
:fullscreen #next-episode-popup {
    position: absolute;
}

/* Webkit fullscreen */
:-webkit-full-screen #next-episode-popup {
    position: absolute;
}

/* Mozilla fullscreen */
:-moz-full-screen #next-episode-popup {
    position: absolute;
}

/* Microsoft fullscreen */
:-ms-fullscreen #next-episode-popup {
    position: absolute;
}