/* Wrappers and containers */

body {
    max-height: 100vh;
    overflow: hidden;
}

#video-container {
    width: 100vw;
    height: 100vh;
}

.player {
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
}

#video-element {
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
}

.player-bottom {
    width: 100%;
    position: absolute;
    bottom: 0.5vh;
    padding: 0 25px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    opacity: 1;
    transform: translateY(0px);
    transition: opacity .5s, transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.player-bottom.hidden {
    opacity: 0;
    transform: translateY(3vh);
}

.player-bottom .left,
.player-bottom .right {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    margin-top: 10px;
}

/* Button styling */

button {
    padding: 10px;
    color: white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

button svg:not(.ignore-fill) path {
    transition: fill .25s;
    fill: rgba(255, 255, 255, 0.5);
}

button:hover svg:not(.ignore-fill) path {
    fill: rgba(255, 255, 255, 0.8);
}

button svg.ignore-fill {
    transition: opacity .25s;
    opacity: 0.5;
    transform: scale(1.2);
}

button:hover svg.ignore-fill {
    opacity: 0.8;
}

button svg {
    width: 20px;
    height: 20px;
}

#time-display {
    transition: color .25s;
    color: rgba(255, 255, 255, 0.5);
}

#time-display:hover {
    color: rgba(255, 255, 255, 0.8)
}

/* Progress bar */
.progress-bar {
    width: 100%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: row;
    position: relative;
    transition: height .125s;
    flex-shrink: 0;
}
.progress-bar * {
    position: absolute;
}
.progress-bar.active {
    height: 10px;
}

.scrubber-container {
    height: 100%;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--secondary-color);
    opacity: 0.8;
}
.progress-bar.active .scrubber-container {
    opacity: 1;
}
.scrubber {
    height: 20px;
    width: 20px;
    background-color: var(--secondary-color);
    border-radius: 20px;
    transition: height .125s, width .125s;
    transform: translateX(50%);
}

.progress-bar.active .hover-progress,
.buffer-progress {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.hover-progress,
.buffer-progress {
    height: 100%;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 25px;
    z-index: 2;
    width: 0%;
}

.hover-information {
    height: 150px;
    width: calc(100% - 50px);
    position: absolute;
    display: none;
    top: -150px;
}

.hover-information.active {
    display: block;
}

.hover-display{
    width: 200px;
    height: 112.5px;
    bottom: 20px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: last baseline;
    flex-direction: column;
    gap: 15px
}


#hover-timestamp {
    color: white;
    font-family: AHGB;
    width: 100%;
    text-align: center;
}

.keyframe-holder {
    width: 200px;
    height: 200px;
    position: relative;
}

.keyframe-holder img {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    opacity: 0;
    transition: opacity .25s;
    border-radius: 15px;
}

.keyframe-holder img.active {
    opacity: 1;
}
/* Style the captions */
::cue {
    color: yellow;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    font-family: AHGR;
    text-shadow: 2px 2px 2px black;
    line-height: normal;
    padding: 10px;
    border-radius: 10px;
    line-height: 1.2;
}

/* Move the captions up */
video::-webkit-media-text-track-container {
    position: relative;
    transform: translateY(-100px); /* Adjust this value to move up/down */
}

/* For Firefox */
video::-moz-media-text-track-container {
    position: relative;
    transform: translateY(-100px);
}

.action {
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translateX(-50%) translateY(-50%);
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-color: var(--secondary-color);
    animation: action .5s forwards linear;
}

@keyframes action {
    0% {
        transform: translateX(-50%) translateY(-50%) scale(.8);
        opacity: 0;
    }

    50% {
        transform: translateX(-50%) translateY(-50%) scale(1);
        opacity: .6;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) scale(1.2);
        opacity: 0;
    }
}

.action svg {
    width: 60%;
    height: 60%;
}

.action svg:not(.ignore-fill) path {
    fill: white;
}

.loading {
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translateX(-50%) translateY(-50%);
    width: 80px;
    height: 80px;
    opacity: 0.5;
}

.loading svg {
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 100%;
    width: 100%;
    position: absolute;
}

.loading svg:not(.ignore-fill) path {
    fill: white;
}

.loading svg:nth-child(1) {
    animation: loading-1 1.5s infinite linear;
}

.loading svg:nth-child(2) {
    animation: loading-2 1s infinite linear;
}

@keyframes loading-1 {
    0%{
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    100%{
        transform: translateX(-50%) translateY(-50%) rotate(-360deg);
    }
}

@keyframes loading-2 {
    0%{
        transform: translateX(-50%) translateY(-50%) scale(.7) rotate(0deg);
    }
    100%{
        transform: translateX(-50%) translateY(-50%) scale(.7) rotate(360deg);
    }
}