<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Lorde</title>

    <!-- JS -->
    <script src="{{ url_for('static', filename='modules/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/aura.js') }}"></script>
    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
</head>
<body>
    <div id="aura" class="inactive"></div>
    
    <div class="login container fadein" style="--fade-in-delay: .25s">
        <h1 class="fadein" style="--fade-in-delay: .35s">Login</h1>
        
    </div>
</body>
</html>