<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Lorde</title>

    <!-- JS -->
    <script src="{{ url_for('static', filename='modules/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/aura.js') }}"></script>
    <script src="{{ url_for('static', filename='js/content-overlay.js') }}"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

    {% for title in title_data %}
    <link rel="preload" as="image" href="{{ title_data[title]['metadata']['logo'] }}">
    <link rel="preload" as="image" href="{{ title_data[title]['metadata']['backdrop'] }}">
    {% endfor %}
</head>

<body>
    <div id="aura" class="inactive"></div>
    <div class="content-overlay-wrapper">
        <div class="content-overlay noglow container" id="content-overlay">

        </div>
    </div>

    {% set delay = namespace(counter=0.5) %}

    <div class="content-list container fadein" style="--fade-in-delay: .15s;">

        <h1 class="fadein" style="--fade-in-delay: .35s;">The hottest shit on Lorde RIGHT NOW!</h1>
        <div class="content-wrapper">

            {% for title in title_data %}
            <img 
            src="{{ title_data[title]['metadata']['logo'] }}" 
            alt="Movie Poster" 
            width="500" 
            height="750" 
            style="display: none;"
            >
            <img 
            src="{{ title_data[title]['metadata']['backdrop'] }}" 
            alt="Movie Poster" 
            width="500" 
            height="750" 
            style="display: none;"
            >


            <div class="title-element fadein" style="--fade-in-delay: {{ delay.counter }}s;"
                id="title_id_{{ delay.counter }}">
                <div class="img" style="--background-image: url('{{ title_data[title]['metadata']['poster'] }}')"></div>
                <div class="metadata">
                    <p class="title">{{title}}</p>
                    {% set quality = title_data[title]["data"]["qualities"][0] %}
                    {% if quality == "2160p" %}
                    <p class="quality high">4k</p>
                    {% else %}
                    <p class="quality">{{quality}}</p>
                    {% endif %}

                    {% if title_data[title]["metadata"]["type"] == "series" %}
                    <p>{{title_data[title]["seasons"]|length}} Seasons</p>
                    {% else %}
                    <p>{{ title_data[title]["metadata"]["time"] }}</p>
                    {% endif %}
                </div>
            </div>

            <script>
                console.log()
                initTitle(document.getElementById("title_id_{{ delay.counter }}"), {{ title_data[title]| tojson | safe }})
            </script>

            {% set delay.counter = delay.counter + 0.15 %}
            {% endfor %}
        </div>
    </div>
</body>

</html>