<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offline | Lorde</title>

    <!-- JS -->
    <script src="{{ url_for('static', filename='modules/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/aura.js') }}"></script>
    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
</head>
<body>
    <div id="aura" class="inactive"></div>

    <div class="container fadein" style="--fade-in-delay: .25s;">
        <div class="heading1 fadein" style="--fade-in-delay: .35s;">
            <h1>Sorry...</h1>
        </div>
        <p class="fadein" style="--fade-in-delay: .45s;">The backend for our streaming service is presently offline.</p>
    </div>
</body>
</html>