<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JS -->
     <script src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js"></script>
    <script src="https://www.gstatic.com/cast/sdk/libs/sender/1.0/cast_framework.js"></script>
    <script src="{{ url_for('static', filename='modules/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='modules/plyr.js') }}"></script>
    <script src="{{ url_for('static', filename='js/player.js') }}"></script>
    <script src="{{ url_for('static', filename='js/next_episode.js') }}"></script>

    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="/static/images/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/images/favicon.svg" />
    <link rel="shortcut icon" href="/static/images/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Lorde" />
    <link rel="manifest" href="/static/images/site.webmanifest" />

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plyr.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/player.css') }}">

    <title>Player | Lorde</title>
</head>

<body>
    {% if next_episode %}
    <div id="next-episode-popup" class="container">
        <div class="left clicktoplay">
            <div class="img" style="--background-image: url('{{next_episode.data.image}}')"></div>
        </div>
        <div class="right clicktoplay">
            <p>Next episode: {{ next_episode.season }} {{ next_episode.episode }}</p> 
           <p class="title">{{ next_episode.data.name }} <span>{{next_episode.data.rating|round(1) }} ⭐</span></p>
            <p class="countdown">Starting in <span id="countdown">45</span> seconds...</p>
        </div>
        <div class="bottom">
            <button id="cancel-btn">Back to home page</button>
        </div>
    </div>
    {% endif %}

    <track kind="subtitles" label="English" src="{{ subtitles }}" srclang="en" default>
    <video id="player" controls autoplay>
        {% for track in tracks %}
        <source src="{{ track.src }}" type="video/mp4" data-quality="{{ track.quality }}">
        {% endfor %}
        <track kind="subtitles" label="English" src="{{ subtitles }}" srclang="en" default>
    </video>
    <script>
        $(document).ready(function() {
            initPlayer({{timestamp|float}})

            {% if next_episode %}
                initNextEpisode({{next_episode|tojson|safe}})
            {% endif %}
        });
    </script>
</body>

</html>